.forgot-password-page {
  flex: 1;
  display: flex;
  height: 100vh;
}

.image-container {
  flex: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container img {
  max-width: 100%;
  height: auto;
}

.form-container {
  flex: 0.3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

h2 {
  margin-bottom: 2rem;
}

.form-group {
  margin-bottom: 1rem;
  width: 100%;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-group input {
  width: 200%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: rgb(136, 183, 226);
}

button {
  padding: 0.5rem 1rem;
  background-color: rgb(252, 124, 64);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: rgb(247, 139, 90);
}

.links {
  margin-top: 1rem;
}
